Repository kokimoribe/mj: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/web && npx eslint --fix, prettier --write

address PR comments
  hello_world.txt
Due: none

feat: add LeaderboardView and PlayerProfileView components with tests
  apps/web/src/app/api/games/[gameId]/scores/route.ts
  apps/web/src/app/api/games/route.improved.ts
  apps/web/src/app/api/games/route.ts
  apps/web/src/app/games/active/page.tsx
  apps/web/src/app/games/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/player/[id]/page.tsx
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/core/domain/constants/index.ts
  apps/web/src/core/services/configuration.service.ts
  apps/web/src/core/services/index.ts
  apps/web/src/core/services/player.service.ts
  apps/web/src/core/validation/configuration.validation.ts
  apps/web/src/core/validation/game.validation.ts
  apps/web/src/core/validation/index.ts
  apps/web/src/features/configuration/components/ConfigurableLeaderboardHeader.tsx
  apps/web/src/features/configuration/components/ConfigurationIndicator.tsx
  apps/web/src/features/configuration/components/ConfigurationPanel.tsx
  apps/web/src/features/configuration/components/index.ts
  apps/web/src/features/configuration/components/sections/CollapsibleSection.tsx
  apps/web/src/features/configuration/components/sections/ScoringSection.tsx
  apps/web/src/features/games/components/GameHistoryView.test.tsx
  apps/web/src/features/games/components/GameHistoryView.tsx
  apps/web/src/features/hand-recording/components/HandHistory.tsx
  apps/web/src/features/hand-recording/components/HandRecordingView.tsx
  apps/web/src/features/hand-recording/components/ManualEntry.tsx
  apps/web/src/features/hand-recording/components/QuickEntry.tsx
  apps/web/src/features/hand-recording/components/RoundIndicator.tsx
  apps/web/src/features/hand-recording/components/ScoreDisplay.tsx
  apps/web/src/features/leaderboard/components/ActivityIndicator.tsx
  apps/web/src/features/leaderboard/components/ExpandablePlayerCard.test.tsx
  apps/web/src/features/leaderboard/components/ExpandablePlayerCard.tsx
  apps/web/src/features/leaderboard/components/LeaderboardHeader.tsx
  apps/web/src/features/leaderboard/components/LeaderboardView.test.tsx
  apps/web/src/features/leaderboard/components/LeaderboardView.tsx
  apps/web/src/features/players/components/PlayerGamesList.tsx
  apps/web/src/features/players/components/PlayerProfileView.tsx
  apps/web/src/features/players/components/RatingChart.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: resolve all ESLint errors
  apps/web/src/app/api/games/[gameId]/hands/reconcile/route.ts
  apps/web/src/app/api/games/route.ts
  apps/web/src/app/games/new/page.tsx
  apps/web/src/components/ui/textarea.tsx
  apps/web/src/features/hand-recording/components/HandHistory.tsx
  apps/web/src/features/hand-recording/components/HandRecordingView.tsx
  apps/web/src/features/hand-recording/components/QuickEntry.tsx
  apps/web/src/features/hand-recording/components/RoundIndicator.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

feat: add comprehensive guide for Mahjong Rating System using OpenSkill Plackett-Luce model
  docs/ratings.md
Due: prettier --write

refactor: update parameter handling in API routes and improve linting paths
  apps/rating-engine/package.json
  apps/rating-engine/tests/test_materialization.py
  apps/web/src/app/api/games/[gameId]/hands/[handId]/route.ts
  apps/web/src/app/api/games/[gameId]/hands/reconcile/route.ts
  apps/web/src/app/api/games/[gameId]/hands/route.ts
  apps/web/src/app/api/games/[gameId]/scores/route.ts
  apps/web/src/app/api/games/route.ts
Due: cd apps/web && npx eslint --fix, prettier --write

refactor: enhance type safety and error handling in game and player services
  apps/web/src/app/api/games/route.ts
  apps/web/src/core/repositories/game.repository.ts
  apps/web/src/core/services/configuration.service.ts
  apps/web/src/core/services/player.service.ts
  apps/web/src/core/validation/configuration.validation.ts
  apps/web/src/features/hand-recording/components/QuickEntry.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

feat: add @radix-ui/react-scroll-area dependency to enhance UI components
  apps/web/package.json
  package-lock.json
Due: prettier --write

feat: Enhance game page functionality and UI components
  apps/web/src/app/game/[id]/page.tsx
  apps/web/src/components/features/game-recording/HandEntryForm.tsx
  apps/web/src/components/features/game-recording/HandHistory.tsx
  apps/web/src/components/features/game-recording/PlayerSelector.tsx
  apps/web/src/components/features/game-recording/ScoreBoard.tsx
  apps/web/src/lib/supabase/queries.ts
  apps/web/src/stores/configStore.ts
  supabase/config.toml
Due: cd apps/web && npx eslint --fix, prettier --write

fix: Correct delta calculations for dealer chombo and non-dealer chombo scenarios
  apps/web/src/app/api/games/[gameId]/hands/route.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: Update chombo rules to reflect honba increase
  apps/web/src/app/api/games/[gameId]/hands/route.ts
  apps/web/src/app/game/[id]/page.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: Refine tenpai payment logic and enhance UI components
  apps/web/src/app/api/games/[gameId]/hands/route.ts
  apps/web/src/components/features/game-recording/HandEntryForm.tsx
  apps/web/src/components/features/game-recording/HandHistory.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: Refactor game-related logic and improve component handling
  apps/web/src/app/api/games/[gameId]/hands/route.ts
  apps/web/src/app/api/games/[gameId]/route.ts
  apps/web/src/app/game/[id]/page.tsx
  apps/web/src/app/game/new/page.tsx
  apps/web/src/components/features/game-recording/HandEntryForm.tsx
  apps/web/src/components/features/game-recording/HandHistory.tsx
  apps/web/src/components/features/game-recording/SeatAssignment.tsx
  apps/web/src/components/features/player/PlayerGamesList.tsx
  apps/web/src/components/features/player/PlayerProfileView.tsx
  apps/web/src/components/ui/alert-dialog.tsx
  apps/web/src/hooks/__tests__/useGameEndDetection.test.ts
  apps/web/src/hooks/useGameEndDetection.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: Refactor game-related logic and improve component handling
  apps/web/src/app/api/games/[gameId]/hands/route.ts
  apps/web/src/app/api/games/[gameId]/route.ts
  apps/web/src/app/game/[id]/page.tsx
  apps/web/src/app/game/new/page.tsx
  apps/web/src/components/features/game-recording/HandEntryForm.tsx
  apps/web/src/components/features/game-recording/HandHistory.tsx
  apps/web/src/components/features/game-recording/SeatAssignment.tsx
  apps/web/src/components/ui/alert-dialog.tsx
  apps/web/src/features/players/components/PlayerGamesList.tsx
  apps/web/src/features/players/components/PlayerProfileView.tsx
  apps/web/src/hooks/__tests__/useGameEndDetection.test.ts
  apps/web/src/hooks/useGameEndDetection.ts
Due: cd apps/web && npx eslint --fix, prettier --write

refactor: rename migration files to come after main's hand_recording migration
  Super_Claude_Docs.md
  apps/rating-engine/scripts/migrate_legacy_data.py
  docs/architecture-overview.md
  example_prompts.md
  mj (season 3+) - logs (4).csv
  supabase/migrations/20250114000000_add_hand_events_phase1.sql
  supabase/migrations/20250114000001_add_game_insert_policies.sql
  supabase/migrations/20250114000002_allow_anonymous_game_creation.sql
  supabase/migrations/20250114000003_add_game_format.sql
  supabase/migrations/20250114000004_allow_anonymous_player_creation.sql
  supabase/migrations/20250124000000_remove_security_definer_from_views.sql
Due: prettier --write

fix: resolve Python linting errors in materialization.py
  apps/rating-engine/rating_engine/materialization.py
Due: none

fix: add mypy to dev dependencies for type-check script
  apps/rating-engine/pyproject.toml
Due: none

fix: remove unnecessary whitespace in materialization.py
  apps/rating-engine/rating_engine/materialization.py
Due: none

fix: resolve mypy type checking errors
  apps/rating-engine/rating_engine/materialization.py
Due: none

fix: add assertion to satisfy mypy that uma is not None
  apps/rating-engine/rating_engine/materialization.py
Due: none

fix: add missing @radix-ui/react-toggle-group and fix e2e test types
  apps/rating-engine/uv.lock
  apps/web/e2e/integration/hand-recording-api.spec.ts
  apps/web/package.json
  package-lock.json
Due: cd apps/web && npx eslint --fix, prettier --write

security: update Next.js to 15.5.9 to fix CVE-2025-66478
  apps/web/package.json
Due: prettier --write

chore: update package-lock.json for Next.js 15.5.9
  apps/web/next-env.d.ts
  package-lock.json
Due: cd apps/web && npx eslint --fix, prettier --write

update legacy logs
  legacy_logs.csv
Due: none

more game updates
  legacy_logs.csv
Due: none

feat: add support for Season 4 configuration in legacy data migration script
  apps/rating-engine/scripts/migrate_legacy_data.py
  legacy_logs.csv
Due: none

fix: update Supabase connection key handling for improved security
  apps/rating-engine/scripts/migrate_legacy_data.py
Due: none

fix: update chombo penalty rules to clarify honba behavior in game logic
  apps/web/src/app/api/games/[gameId]/hands/route.ts
  apps/web/src/app/game/[id]/page.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: enhance game logic for draw scenarios to clarify dealer rotation and honba behavior
  apps/web/src/app/game/[id]/page.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

refactor: remove unused imports from GameDetailView and RatingChart components for cleaner code
  apps/web/src/features/games/components/GameDetailView.tsx
  apps/web/src/features/players/components/RatingChart.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

refactor: improve tooltip handling in RatingChart component by ensuring activeTooltipIndex is a number and initializing tooltipTimeoutRef to undefined
  apps/web/src/features/players/components/RatingChart.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

refactor: enhance layout and accessibility in HandHistory component by adjusting spacing and improving text visibility; update GameDetailView for consistent styling in hand history section
  apps/web/src/components/features/game-recording/HandHistory.tsx
  apps/web/src/features/games/components/GameDetailView.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

feat: add support for abortive draw types in HandHistory component, including labels for different draw scenarios to enhance game detail presentation
  apps/web/src/components/features/game-recording/HandHistory.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: invalidate game queries on game discard to ensure UI refresh
  apps/web/src/app/game/[id]/page.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

Path conditions:
  cd apps/web && npx eslint --fix: (any of: apps/web/**/*.{ts,tsx}) or (any of: apps/web/**/*.{js,jsx})
  prettier --write: ((any of: apps/web/**/*.{ts,tsx}) or (any of: apps/web/**/*.{js,jsx})) or (any of: **/*.{md,json})
