Repository kokimoribe/mj: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/web && npx eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/web/**/*.{ts,tsx}": [
    "cd apps/web && npx eslint --fix",
    "prettier --write"
  ],
  "apps/web/**/*.{js,jsx}": [
    "cd apps/web && npx eslint --fix",
    "prettier --write"
  ],
  "**/*.{md,json}": [
    "prettier --write"
  ]
}

feat: add ongoing game fetching and display in GameHistoryView component
  apps/web/src/app/game/[id]/live/page.tsx
  apps/web/src/features/games/components/GameHistoryView.tsx
  apps/web/src/features/games/components/LiveGameCard.tsx
  apps/web/src/lib/supabase/queries.ts
Due: cd apps/web && npx eslint --fix, prettier --write

refactor: update GameHistoryView and LiveGameCard components to support ongoing game fetching, enhance date formatting, and improve UI consistency with CompletedGameBadge integration
  MULTI_TENANCY_PLAN.md
  apps/rating-engine/package.json
  apps/web/src/app/game/[id]/live/page.tsx
  apps/web/src/app/game/[id]/page.tsx
  apps/web/src/components/layout/GamePageHeader.tsx
  apps/web/src/features/games/components/CompletedGameBadge.test.tsx
  apps/web/src/features/games/components/CompletedGameBadge.tsx
  apps/web/src/features/games/components/GameDetailView.test.tsx
  apps/web/src/features/games/components/GameDetailView.tsx
  apps/web/src/features/games/components/GameHistoryView.test.tsx
  apps/web/src/features/games/components/GameHistoryView.tsx
  apps/web/src/features/games/components/LiveGameCard.tsx
  apps/web/src/lib/supabase/queries.ts
  docs/specs/game-completion-badge-standardization.md
  docs/specs/games-page-multiple-live-games.md
Due: cd apps/web && npx eslint --fix, prettier --write

chore: update package-lock.json to reflect caniuse-lite version change and add license information; remove obsolete apps/web/package-lock.json file
  apps/web/package-lock.json
  package-lock.json
Due: prettier --write

feat: update season configurations for Season 5, including new YAML files and adjustments to default values in the web app
  apps/rating-engine/configs/README.md
  apps/rating-engine/configs/season-4-v2.yaml
  apps/rating-engine/configs/season-5.yaml
  apps/web/src/config/index.ts
  apps/web/src/stores/configStore.ts
Due: cd apps/web && npx eslint --fix, prettier --write

chore: deprecate season-4.yaml in favor of season-4-v2.yaml, update README and scripts documentation for clarity, and fix game count query to include all games on the end date
  apps/rating-engine/configs/README.md
  apps/rating-engine/configs/season-4.yaml
  apps/rating-engine/scripts/README.md
  apps/rating-engine/scripts/materialize_data.py
  apps/rating-engine/scripts/register_configs.py
  apps/web/src/components/ui/sonner.tsx
  apps/web/src/features/games/components/GameHistoryView.tsx
  apps/web/src/lib/supabase/queries.ts
  apps/web/src/stores/configStore.ts
Due: cd apps/web && npx eslint --fix, prettier --write

feat: enhance GameHistoryView and fetchGameHistory to support time range filtering for game history queries and improve player filtering logic
  apps/web/src/features/games/components/GameHistoryView.tsx
  apps/web/src/lib/supabase/queries.ts
Due: cd apps/web && npx eslint --fix, prettier --write

feat: optimize leaderboard data fetching by querying cached game results directly, implement time range filtering for game dates, and enhance player filtering logic
  apps/web/src/lib/supabase/queries.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: remove unnecessary padding from ExpandablePlayerCard header for improved layout consistency
  apps/web/src/features/leaderboard/components/ExpandablePlayerCard.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: update GameHistoryView to correct filter option label from "All Games" to "All Players"
  apps/web/src/features/games/components/GameHistoryView.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

feat: implement dynamic environment loading in rating engine scripts, allowing specification of environment via command line arguments and updating .gitignore to include environment files
  .gitignore
  apps/rating-engine/scripts/materialize_data.py
  apps/rating-engine/scripts/register_configs.py
Due: none

feat: enhance materialization script and operational guide with environment configuration support and updated usage instructions
  apps/rating-engine/scripts/materialize_data.py
  docs/08-operational-guide.md
  docs/VERCEL_DEPLOYMENT_RUNBOOK.md
Due: prettier --write

refactor: change game deletion to cancellation by updating status to 'cancelled' across API and UI components, ensuring cancelled games are excluded from listings
  apps/web/src/app/api/games/[gameId]/route.ts
  apps/web/src/app/api/games/route.ts
  apps/web/src/app/game/[id]/page.tsx
  apps/web/src/core/repositories/game.repository.ts
Due: cd apps/web && npx eslint --fix, prettier --write

feat: add rating engine configuration and implement materialization trigger in game finish API
  apps/web/.env.example
  apps/web/src/app/api/games/[gameId]/route.ts
  apps/web/src/config/index.ts
Due: cd apps/web && npx eslint --fix, prettier --write

refactor: streamline game cancellation logic by consolidating exit handling and reusing cancelGame function
  apps/web/src/app/game/[id]/page.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

feat: add achievements display to player profiles and leaderboard cards, including fetching and rendering achievement data
  apps/web/src/app/api/achievements/leaderboard/route.ts
  apps/web/src/app/api/achievements/players/[playerId]/route.ts
  apps/web/src/components/achievements/AchievementBadge.tsx
  apps/web/src/components/achievements/AchievementIcon.tsx
  apps/web/src/features/leaderboard/components/ExpandablePlayerCard.tsx
  apps/web/src/features/players/components/PlayerProfileView.tsx
  apps/web/src/lib/queries.ts
  apps/web/src/lib/supabase/queries.ts
  supabase/migrations/20260127201733_achievements.sql
Due: cd apps/web && npx eslint --fix, prettier --write

feat: enhance PlayerGamesList component with navigation and improved UI interactions
  apps/web/src/features/players/components/PlayerGamesList.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

feat: enhance PlayerProfileView with player statistics and tooltips for performance metrics
  apps/web/src/app/api/players/[playerId]/hand-events/route.ts
  apps/web/src/features/players/components/PlayerProfileView.tsx
  apps/web/src/features/players/components/StatisticsNotAvailable.tsx
  apps/web/src/features/players/components/StatsCollapsibleSection.tsx
  apps/web/src/features/players/playerStatistics.test.ts
  apps/web/src/features/players/playerStatistics.ts
  apps/web/src/hooks/usePlayerStatistics.ts
  supabase/config.toml
Due: cd apps/web && npx eslint --fix, prettier --write

feat: implement game completion overlay and automatic redirection to game history
  apps/web/src/app/game/[id]/live/page.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

feat: enhance LiveGamePage with re-open finish game dialog functionality and improved button layout
  apps/web/src/app/game/[id]/page.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

feat: implement polling for game updates and handle game cancellation overlay in LiveGameViewPage
  apps/web/src/app/game/[id]/live/page.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: update routing paths from '/games/new' to '/game/new' across various components and tests
  apps/web/HAND_RECORDING_IMPLEMENTATION_SUMMARY.md
  apps/web/e2e/integration/hand-recording-api.spec.ts
  apps/web/e2e/user-stories/game-entry.spec.ts
  apps/web/e2e/user-stories/test-status.md
  apps/web/src/app/games/active/page.tsx
  apps/web/src/app/games/new/page.tsx
  apps/web/src/features/hand-recording/components/HandRecordingView.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

chore: remove obsolete files and documentation related to architectural analysis and cleanup summaries
  Super_Claude_Docs.md
  apps/web/GAME_END_DETECTION_REVIEW.md
  apps/web/HAND_RECORDING_IMPLEMENTATION_SUMMARY.md
  apps/web/README.md
  apps/web/configuration-materialization-analysis.md
  apps/web/configuration-ui-analysis-summary.md
  apps/web/configuration-ui-improvements.md
  apps/web/e2e-test-fix-guide.md
  apps/web/production-e2e-analysis.md
  architectural-analysis-report.md
  cleanup-and-resolution-summary.md
  example_prompts.md
  hello_world.txt
Due: prettier --write

docs: update project documentation to clarify that Supabase Realtime is not a valid option for live updates, and specify the use of polling or alternative approaches
  docs/01-project-overview.md
  docs/02-technical-architecture.md
  docs/07-external-apis.md
  docs/architecture-overview.md
  docs/specs/hand-recording-feature.md
Due: prettier --write

chore: update development server host in package.json from '0.0.0.0' to '127.0.0.1' for rating-engine service
  apps/rating-engine/package.json
Due: prettier --write

feat: implement multi-ron handling in hand recording feature
  EMOJI_REACTIONS.md
  apps/web/src/app/api/games/[gameId]/hands/route.ts
  apps/web/src/app/game/[id]/page.tsx
  apps/web/src/components/features/game-recording/HandEntryForm.tsx
  apps/web/src/components/features/game-recording/HandHistory.tsx
  apps/web/src/features/players/playerStatistics.test.ts
  apps/web/src/features/players/playerStatistics.ts
  apps/web/src/lib/mahjong/points.test.ts
  apps/web/src/lib/mahjong/points.ts
  docs/specs/hand-recording-feature.md
Due: cd apps/web && npx eslint --fix, prettier --write

fix: update tickFormatter in PointsProgressionChart to handle negative values correctly
  apps/web/src/features/games/components/PointsProgressionChart.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: adjust padding and layout in ExpandablePlayerCard for improved alignment and prevent layout shift
  apps/web/src/features/leaderboard/components/ExpandablePlayerCard.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: update padding in ExpandablePlayerCard for consistent vertical spacing and improved layout
  apps/web/src/features/leaderboard/components/ExpandablePlayerCard.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

chore: remove unused API routes for hand management
  apps/web/src/app/api/games/[gameId]/hands/[handId]/route.ts
  apps/web/src/app/api/games/[gameId]/hands/reconcile/route.ts
  supabase/migrations/20260307120000_stripe_subscriptions.sql
  supabase/migrations/20260308120000_drop_unused_tables.sql
Due: cd apps/web && npx eslint --fix, prettier --write

chore: remove hand recording feature components and related validation
  apps/web/e2e/features/hand-recording.spec.ts
  apps/web/src/core/domain/types/index.ts
  apps/web/src/core/validation/game.validation.ts
  apps/web/src/features/hand-recording/components/HandHistory.tsx
  apps/web/src/features/hand-recording/components/HandRecordingView.tsx
  apps/web/src/features/hand-recording/components/ManualEntry.tsx
  apps/web/src/features/hand-recording/components/QuickEntry.tsx
  apps/web/src/features/hand-recording/components/RoundIndicator.tsx
  apps/web/src/features/hand-recording/components/ScoreDisplay.tsx
Due: cd apps/web && npx eslint --fix, prettier --write
