Repository kokimoribe/mj: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/web && npx eslint --fix, prettier --write

feat: implement PlayersPage component and update CachedGameResult interface for improved data handling
  apps/web/src/components/layout/BottomNav.tsx
  apps/web/src/lib/supabase/queries.ts
  apps/web/src/lib/supabase/types.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: remove unused image files and clean up MiniRatingChart component
  apps/web/e2e/verify-production.spec.ts
  apps/web/leaderboard-expanded-card-rating-chart.png
  apps/web/player-profile-rating-chart-issue-detailed.png
  apps/web/player-profile-rating-chart-issue.png
  apps/web/production-verification.png
Due: cd apps/web && npx eslint --fix, prettier --write

fix: improve type safety for playerGames sorting in fetchGameHistory function
  apps/web/src/components/InstallPrompt.tsx
  apps/web/src/lib/supabase/queries.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: update PlayerProfileView and RatingChart for accurate rating display and data handling
  apps/web/src/components/features/player/PlayerProfileView.tsx
  apps/web/src/components/features/player/RatingChart.tsx
  apps/web/src/lib/supabase/queries.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: update rating calculation formulas to align with database standards
  apps/web/e2e/utils/data-validation-helpers.ts
  apps/web/src/lib/supabase/queries.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: add debug logging to PlayerGamesList and sort player games by date in PlayerProfileView
  apps/web/src/components/features/player/PlayerGamesList.tsx
  apps/web/src/components/features/player/PlayerProfileView.tsx
  apps/web/src/components/features/player/RatingChart.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: enhance debug logging in PlayerGamesList to show more games and rating change sign
  apps/web/src/components/features/player/PlayerGamesList.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: resolve placement misalignment in rating calculations and add test for consistency
  apps/rating-engine/rating_engine/materialization.py
  apps/rating-engine/tests/__init__.py
  apps/rating-engine/tests/test_materialization.py
Due: none

cleanup: remove debug logging from PlayerGamesList component
  apps/web/src/components/features/player/PlayerGamesList.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: dynamic page title for player profiles
  apps/web/src/app/player/[id]/page.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: clarify rating chart period filters are showing days not games
  apps/web/src/components/features/player/PlayerProfileView.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: enhance player profile and game history fetching to support display names alongside UUIDs
  CLAUDE.md
  apps/web/src/lib/supabase/queries.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: add debug logging to fetchGameHistory for better production issue tracking
  apps/web/src/lib/supabase/queries.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: add debug logging to fetchGameHistory and usePlayerGames for improved issue tracking
  apps/web/src/lib/queries.ts
  apps/web/src/lib/supabase/queries.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: improve error handling and logging in fetchGameHistory function
  apps/web/src/lib/supabase/queries.ts
Due: cd apps/web && npx eslint --fix, prettier --write

feat: add CacheRefreshButton component and cache invalidation logic
  apps/web/src/app/layout.tsx
  apps/web/src/components/CacheRefreshButton.tsx
  apps/web/src/components/features/leaderboard/LeaderboardHeader.tsx
  apps/web/src/components/features/player/PlayerProfileView.tsx
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/lib/cache-invalidation.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: enhance PWA configuration with additional manifest entries and cache cleanup options
  apps/web/next.config.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: update app name and description in manifest.json
  apps/web/public/manifest.json
Due: prettier --write

fix: update URLs in diagnostic scripts and testing guide to point to new deployment
  apps/rating-engine/api/index.py
  apps/web/diagnose-rating-issues-fixed.js
  apps/web/diagnose-rating-issues.js
  apps/web/diagnose-routing-issue.js
  apps/web/docs/production-testing-guide.md
  apps/web/package.json
  apps/web/production-e2e-analysis.md
  apps/web/scripts/check-production-data.js
Due: cd apps/web && npx eslint --fix, prettier --write

fix: update InstallPrompt text to reflect new app branding and messaging
  apps/web/src/components/InstallPrompt.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: remove CacheRefreshButton component from RootLayout
  apps/web/scripts/check-cache-timestamps-simple.js
  apps/web/scripts/check-cache-timestamps-simple.ts
  apps/web/scripts/check-cache-timestamps.cjs
  apps/web/scripts/check-database-data.js
  apps/web/scripts/check-db-schema.cjs
  apps/web/scripts/check-production-data.js
  apps/web/scripts/test-apis.sh
  apps/web/scripts/test-production-query.js
  apps/web/src/app/layout.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

feat: add rank badge to ExpandablePlayerCard component
  apps/web/src/app/layout.tsx
  apps/web/src/components/CacheRefreshButton.tsx
  apps/web/src/components/InstallPrompt.tsx
  apps/web/src/components/features/games/GameHistoryView.spec.tsx
  apps/web/src/components/features/leaderboard/ExpandablePlayerCard.tsx
  apps/web/src/components/features/leaderboard/LeaderboardView.spec.tsx
  apps/web/src/components/features/player/PlayerProfileView.spec.tsx
  apps/web/src/lib/cache-invalidation.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: update PWA configuration and improve RatingChart component
  apps/web/next.config.ts
  apps/web/src/components/features/player/RatingChart.tsx
  apps/web/src/lib/utils.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: update InstallPrompt text for consistency and clarity; refine PWA configuration details
  apps/web/src/components/InstallPrompt.tsx
  apps/web/src/components/features/player/RatingChart.tsx
  apps/web/src/config/index.ts
Due: cd apps/web && npx eslint --fix, prettier --write

feat: add utility function to format dates as relative time
  apps/web/scripts/database-utils.ts
  apps/web/src/lib/utils/format-time.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: update season end date and CSV column name; enhance game history fetching logic
  apps/rating-engine/configs/season-3.yaml
  apps/rating-engine/scripts/migrate_legacy_data.py
  apps/web/e2e/utils/data-validation-helpers.ts
  apps/web/public/qr_code.png
  apps/web/src/app/qr/layout.tsx
  apps/web/src/app/qr/page.tsx
  apps/web/src/components/EasterEgg.tsx
  apps/web/src/components/InstallPrompt.tsx
  apps/web/src/components/features/player/RatingChart.tsx
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/config/index.ts
  apps/web/src/lib/supabase/queries.ts
  legacy_logs.csv
Due: cd apps/web && npx eslint --fix, prettier --write

fix: remove redundant installation instructions for Android in InstallPrompt component
  apps/web/src/components/InstallPrompt.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: update configHash for data validation tests
  apps/web/e2e/data-validation/data-validation.spec.ts
Due: cd apps/web && npx eslint --fix, prettier --write

fix: update SVG paths in InstallPrompt component for improved clarity
  apps/web/src/components/InstallPrompt.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

Refactor code structure and remove redundant changes
  legacy_logs.csv
Due: none

fix: update Supabase dependencies to latest versions in package-lock.json
  legacy_logs.csv
  package-lock.json
Due: prettier --write

fix: enhance accessibility and interactivity in ExpandablePlayerCard component
  apps/web/src/components/features/leaderboard/ExpandablePlayerCard.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

fix: update @supabase/supabase-js to version 2.52.1
  apps/web/package.json
Due: prettier --write

fix: add js-yaml dependency and update integrity in package-lock.json
  package-lock.json
Due: prettier --write

fix: add js-yaml and puppeteer dependencies in package.json
  apps/web/package.json
  legacy_logs.csv
  package-lock.json
Due: prettier --write

Refactor project documentation and testing setup
  apps/rating-engine/pyproject.toml
  apps/rating-engine/uv.lock
  docs/01-project-overview.md
  docs/02-technical-architecture.md
  docs/04-development-setup.md
  docs/06-feature-roadmap.md
  docs/10-ui-design-specification.md
  docs/playwright-integration-plan.md
Due: prettier --write

feat: Implement Configuration Playground for dynamic leaderboard configurations
  apps/rating-engine/configs/season-4.yaml
  apps/web/src/app/api/materialize/route.ts
  apps/web/src/components/features/configuration/ConfigurableLeaderboardHeader.tsx
  apps/web/src/components/features/configuration/ConfigurationIndicator.tsx
  apps/web/src/components/features/configuration/ConfigurationPanel.tsx
  apps/web/src/components/features/configuration/index.ts
  apps/web/src/components/features/leaderboard/ExpandablePlayerCard.tsx
  apps/web/src/components/features/leaderboard/LeaderboardView.tsx
  apps/web/src/components/features/player/PlayerProfileView.tsx
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/hooks/useConfigParams.ts
  apps/web/src/lib/queries.ts
  apps/web/src/lib/supabase/queries.test.ts
  apps/web/src/lib/supabase/queries.ts
  apps/web/src/lib/utils/config-hash.ts
  apps/web/src/stores/configStore.ts
  docs/specs/configuration-playground.md
Due: cd apps/web && npx eslint --fix, prettier --write

refactor: Remove obsolete configuration and verification scripts
  .gitignore
  apps/rating-engine/scripts/config_manager.py
  apps/rating-engine/scripts/verify_database.py
  apps/web/scripts/verify-game-count.js
Due: cd apps/web && npx eslint --fix, prettier --write

refactor: Update labels and descriptions for configuration inputs in ConfigurationPanel
  apps/web/src/components/features/configuration/ConfigurationPanel.tsx
Due: cd apps/web && npx eslint --fix, prettier --write

add: hello_world.txt
  hello_world.txt
Due: none

Path conditions:
  cd apps/web && npx eslint --fix: (any of: apps/web/**/*.{ts,tsx}) or (any of: apps/web/**/*.{js,jsx})
  prettier --write: ((any of: apps/web/**/*.{ts,tsx}) or (any of: apps/web/**/*.{js,jsx})) or (any of: **/*.{md,json})
